%full-size-mask {
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
%bg-center-cover {
   background-size: cover;
   background-position: center;
 }
