$breakpoints-names: map-keys($breakpoints);
$grid-classes: ();

@for $i from 1 through length($breakpoints) {
  $breakpoint-name: nth($breakpoints-names, $i);
  @for $j from 1 through $grid {
    $grid-classes: append($grid-classes, #{nth($columns, 1)}-#{$breakpoint-name}-#{$j}, comma);
    $grid-classes: append($grid-classes, #{nth($columns, 2)}-#{$breakpoint-name}-#{$j}, comma);
  }
  @media (min-width: map-get($breakpoints, $breakpoint-name)) {
    @for $j from 1 through $grid {
      $col-width: (100% / $grid) * $j;
      #{nth($columns, 1)}-#{$breakpoint-name}-#{$j} {
        width: $col-width !important;
      }
      #{nth($columns, 2)}-#{$breakpoint-name}-#{$j} {
        margin-left: $col-width !important;
      }
    }
  }
}
#{$grid-classes} {
  float: left !important;
}